@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ECommerceWebsite.DTOs.LoginDTO
@{
    Layout = null;
}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery Validation -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<!-- jQuery Unobtrusive Validation (if needed) -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="../../plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- Toastr -->
<link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- SweetAlert2 -->
<script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="../../plugins/toastr/toastr.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<body style="background-color:#1111">
    <div class="d-flex justify-content-center align-items-center" style="margin-top:180px">
        <div class="registration-container">
            <div class="card">
                <div class="card-body login-card-body">
                    <h1 class="login-box-msg">Login Here</h1>

                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
                    {
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.PhoneNumber)</span>
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone Number", required = "required", type = "tel" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-phone"></span>
                                </div>
                            </div>
                        </div>

                        @*<div class="input-group mb-3">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
                    <div class="input-group-append">
                    <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                    </div>
                    </div>
                    </div>*@
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
                        <div class="input-group mb-3">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required", id = "password" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="password-toggle fas fa-eye-slash" toggle="password" onclick="togglePasswordVisibility('password')"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Repeat similar blocks for other form fields -->
                        <!-- Trigger the modal with a button -->
                        <a data-toggle="modal" data-target="#myModal" class="forgot-password-link" title="Forgot Password">Forgot Password</a>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        
                                        <button type="button" class="close" data-dismiss="modal" title="Close">&times;</button>
                                
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="emailForPasswordReset" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="float-left" style="width:395px">
                                            <button type="button" class="btn btn-primary" id="saveButton">Save</button>
                                        </div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>


                                <script>

  $(function() {
        var message = "@ViewBag.Message";
        var type = "@ViewBag.Type";
        var responseClass = "bg-success";
        if (type.toLowerCase() == "error"){
            responseClass = "bg-danger";
        }
      
        if(message!=''){
            $(document).Toasts('create', {
                class: responseClass,
                body: message
            })
        }
  });
    function togglePasswordVisibility(inputId) {
        debugger;
        var input = document.getElementById(inputId);
        var icon = document.querySelector(`[toggle="${inputId}"]`);

        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        } else {
            input.type = "password";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        }
    }
</script>
<style>
    h1 {
        margin: 0 0 20px 0;
        font-weight: 300;
        font-size: 28px;
    }

    .forgot-password-link {
        color: #dc3545 !important;
        text-decoration: none;
        cursor: pointer;
    }
    .forgot-password-link:hover {
        text-decoration: underline;
            color: #dc3545 !important;
    }
</style>